<% provide(:title, "Privacy") %>
<h1>Privacy</h1>
<p>LBC does not share your information with any other organizations</p>
<p>LBC encrypts users’ passwords and cookie information using the bcrypt hash algorithm.  Not only is your password safe from attackers, but your password is not stored in the LBC database, only a hashed version of it, concealing your password from the maintainers of LBC.</p>
<p>LBC uses Transport Layer Security and HTTPS to manage sessions.</p>
<p>Deleting your account is a permanent, irreversible action.  Your information will be wiped from LBC’s database completely.</p>
