<header class="navbar">
  <div class="container">
    <%= link_to "LBC", root_path, id: "logo" %>
    <nav>
      <ul class="nav">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
